<div class="container">
    <div class="row"><h1>Characters</h1></div>
    <div class="row">
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Location</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <th scope="row">1</th>
              <td scope="col">Neith Hakkari</td>
              <td scope="col">Nomad camp</td>
              <td scope="col">Princess of the bandit in the SE desert of Zho're</td>
              </tr>
            </tbody>
          </table>
      <button class="btn btn-primary">Sort this list</button>
    </div>
  
  </div>