<div class="row mt-2">
<div class="container col-lg-5">
    <div class="row">
      <h1>Nab</h1>
    </div>
    <div class="row border-bottom border-danger">
      <h6>Medium Humanoid(Half-orc), Neutral Evil</h6>
    </div>
    <div class="row">
      <h5>Armor class: 19 (Splint armor, Shield)</h5> 
    </div>
    <div class="row">
      <h5>Hit points: 70(2d8+2)</h5>
    </div>
    <div class="row border-bottom border-danger">
      <h5>Speed: 30ft</h5>
    </div>
    <div class="row border-bottom border-danger">
      <table class="table table-bordered mt-1">
        <thead class="thead-dark">
          <tr>
            <th scope="col">STR</th>
            <th scope="col">DEX</th>
            <th scope="col">CON</th>
            <th scope="col">INT</th>
            <th scope="col">WIS</th>
            <th scope="col">CHA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="col">20(+5)</td>
            <td scope="col">10(+0)</td>
            <td scope="col">15(+2)</td>
            <td scope="col">8(-1)</td>
            <td scope="col">14(+2)</td>
            <td scope="col">14(+2)</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <h5>Skills</h5>
    </div>
    <div class="row border-bottom border-danger ">
      <ul>
        <li>Athletics: +8</li>
        <li> Perception: +5</li>
      </ul>
    </div>
    <div class="row">
      <h5>Damage Immunities</h5>
    </div>
    <div class="row border-bottom border-danger ">
      <ul>
        <li> None</li>
      </ul>
    </div>
    <div class="row">
      <h5>Senses</h5>
    </div>
    <div class="row border-bottom border-danger ">
      <ul>
        <li> Passive Perception 15</li>
      </ul>
    </div>
    <div class="row">
      <h5>Languages</h5>
    </div>
    <div class="row border-bottom border-danger ">
      <ul>
        <li>Common</li>
        <li>Orcish</li>
      </ul>
    </div>
    <div class="row border-bottom border-danger">
      <h5>Challenge Rating: 4</h5>
    </div>
    <div class="row">
      <h5>Abilities</h5>
    </div>
    <div class="row border-bottom border-danger ">
      <ul>
        <li>Action Surge</li>
        <li>Superiority Dice: 4, Manuevers known: Rally, Riposte, Disarming Attack</li>
        <li>Second wind(1d10+6)</li>
        <li>Shield Mastery</li>
      </ul>
    </div>
    <div class="row">
      <h5>Actions</h5>
    </div>
    <div class="row border-bottom border-danger ">
      <ul>
        <li>Blood Spear: Melee Weapon attack: +9 to hit reach 5 ft. one target. Hit(1d6+9) piercing damage. If the target dies from this attack Nab gains 2d6(7) temporary health</li>
        <li>ShatterSpike: Melee Weapon attack: +8 to hit reach 5 ft. one target. Hit(1d8+8) piercing damage. This weapon grants the bonuses of getting a critical hit when a successful attack is made against piece of weaponry or armor </li>
      </ul>
    </div>
    <div class="row">
      <h5>Description</h5>
    </div>
    <div class="row border-bottom border-danger ">
      <ul>
        <li>Nab is a 6 ft. tall half-orc. He has splint armor that has been adorned with White Dragon Scales across the front chestplate. His shoulderpieces Consist of a minotaur Horn shoulderplate, and a Fire Snake Head shoulderplate. He is also wears a Direwolf baclava/helm and a direwolf pelt cape.  </li>
      </ul>
    </div>
  
  </div>
  <div class="col-lg-4 offset-lg-2">
    <img src="https://via.placeholder.com/550x550">
  </div>
</div>