<div class="heading shaded ">
  <div class="row">
    <h1 class="col-lg-6 offset-lg-3">HomeBrew Helper</h1>
    <!-- <a href="/login" class="col-lg-1 offset-lg-1 btn btn-primary">Login</a> -->
  </div>
  
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="mycampaigns">My Campaigns <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="publiccampaigns">Public Campaigns <span class="sr-only">(current)</span></a>
          </li>
        <li *ngIf="!subject; else notSubject" class="nav-item">
          <a class="nav-link" href="signIn">Sign in</a>
        </li>
      </ul>

    </div>
  </nav>
    <ng-template #notSubject>
      <span class="navbar-text">
        Welcome, {{subject.nickname}}
      </span>
    </ng-template>
  
<router-outlet></router-outlet>
