<div class="container">
    <div class="row"><h1>Beastiary</h1></div>
    <div class="row">
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">CR</th>
                <th scope="col">AC</th>
                <th scope="col">str/dex/con/int/wis/cha</th>
                <th scope="col">Edit</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td scope="col">Wolf</td>
                <td scope="col">1/4</td>
                <td scope="col">13</td>
                <td scope="col">12/15/12/3/12/6</td>
                <td scope="col"><a href="" class="btn btn-warning">edit</a></td>
                <td scope="col"><a href="" class="btn btn-primary">Link</a></td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td scope="col">Wolf</td>
                <td scope="col">1/4</td>
                <td scope="col">13</td>
                <td scope="col">12/15/12/3/12/6</td>
                <td scope="col"><a href="" class="btn btn-warning">edit</a></td>
                <td scope="col"><a href="" class="btn btn-primary">Link</a></td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td scope="col">Wolf</td>
                <td scope="col">1/4</td>
                <td scope="col">13</td>
                <td scope="col">12/15/12/3/12/6</td>
                <td scope="col"><a href="" class="btn btn-warning">edit</a></td>
                <td scope="col"><a href="" class="btn btn-primary">Link</a></td>
              </tr>
            </tbody>
          </table>
      <button class="btn btn-primary">Sort this list</button>
    </div>
  
  </div>