<div class="row m-2">
  <div class="container  col-lg-5">
    <div class="row border-bottom border-danger">
      <h1>ShatterSpike</h1>
    </div>
    <div class="row border-bottom border-danger">
      <h5>Type: Longsword</h5>
    </div>
    <div class="row border-bottom border-danger">
      <h5>Rarity: Uncommon</h5>
    </div>
    <div class="row border-bottom border-danger">
      <h5>Attunement: Yes</h5>
    </div>
    <div class="row border-bottom border-danger">
        You have a +1 bonus to attack and damage rolls you make with this magic weapon.
        If it hits an object, the hit is automatically a critical hit,
        and it can deal bludgeoning or slashing damage to the object (your choice). 
        Further, damage from nonmagical sources can't harm the weapon.
    </div>
  </div>
  <img class="col-lg-4 offset-lg-2" src= "https://via.placeholder.com/550x350">
</div>