<div class="container">
  <div class="row">
    <h1 class="col-lg-6 offset-lg-3 mt-2">Add a Map</h1>
  </div>
  <form>
      <div class="form-group">
        <label for="titlemap">Location Title</label>
        <input type="text" class="form-control" id="titlemap" placeholder="The Location Title for Your Map Page">
      </div>
      <div class="form-group">
        <label for="mapurl">URL for Image</label>
        <input type="text" class="form-control" id="mapurl" placeholder="The url for your map image">
      </div>
      <div class="form-group">
        <input type="submit" value="submit" class="btn btn-primary">
      </div>
  </form>
</div>