<div class="container">
  <h1>Introduction to Zho're</h1>
  <p>The god of the Isle, Zho, has forcefully invited your party to play in the world of his creation. At the Dm's discretion,
     the party is teleported into his personal domain. Inside the domain players feel as though they are unable to move any part of their
    body escept for their head. During this time, Zho will give a short spiel about watching the characters progress, and how he would like for them to play in his world.
     Upon being asked any questions, Zho will simply laugh. After Giving his spiel, Zho says that they will be allowed to leave upon collection
      of 4 keys, and then sends them out of his domain. They land just outside the city of dell, in soft grass.</p>
  <h3>Notes for the DM</h3>
  <ul>
    <li>Zho should be happy, and jovial</li>
    <li>Zho has blue skin, and is 40 feet tall. He is the god of games, and enjoys good displays of valor, cunning and wit</li>
    <li>There is no way off of the island of Zho're</li>
  </ul>
  <table class="table table-dark mt-3">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Page type</th>
        <th scope="col">Reason</th>
        <th scope="col">Link</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td scope="col">Character</td>
        <td scope="col">The god of the realm</td>
        <td scope="col"><a href="" class="btn btn-primary">Zho</a></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td scope="col">Location</td>
        <td scope="col">city of del</td>
        <td scope="col"><a href="" class="btn btn-primary">Del</a></td>
      </tr>
    </tbody>
    </table>
</div>