<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Campaign Helper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <div class="background">
        <h1 class="title shaded">Your Campaign's Title Here</h1>
        <div class="halfbox">
            <h4 class="offtitle shaded">Plot</h4>
            <h4 class="offtitle shaded">locations</h4>
            <h4 class="offtitle shaded">Beastiary</h4>
        </div>
        <div class="halfbox">
            <h4 class="offtitle shaded">Maps</h4>
            <h4 class="offtitle shaded">Characters</h4>
            <h4 class="offtitle shaded">Items</h4>
        </div>
    </div>
    
</body>
</html>