<div class="container">
  <div class="row">
    <h1>Wolf</h1>
  </div>
  <div class="row border-bottom border-danger">
    <h6>Medium beast, unaligned</h6>
  </div>
  <div class="row">
    <h5>Armor class: 13</h5> 
  </div>
  <div class="row">
    <h5>Hit points: 11(2d8+2)</h5>
  </div>
  <div class="row border-bottom border-danger">
    <h5>Speed: 40ft</h5>
  </div>
  <div class="row border-bottom border-danger">
    <table class="table table-bordered mt-1">
      <thead class="thead-dark">
        <tr>
          <th scope="col">STR</th>
          <th scope="col">DEX</th>
          <th scope="col">CON</th>
          <th scope="col">INT</th>
          <th scope="col">WIS</th>
          <th scope="col">CHA</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="col">12(+1)</td>
          <td scope="col">15(+2)</td>
          <td scope="col">12(+1)</td>
          <td scope="col">3(-4)</td>
          <td scope="col">12(+1)</td>
          <td scope="col">6(-2)</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <h5>Skills</h5>
  </div>
  <div class="row border-bottom border-danger ">
    <ul>
      <li> Perception: +3</li>
      <li>Stealth: +4</li>
    </ul>
  </div>
  <div class="row">
    <h5>Damage Immunities</h5>
  </div>
  <div class="row border-bottom border-danger ">
    <ul>
      <li> None</li>
    </ul>
  </div>
  <div class="row">
    <h5>Senses</h5>
  </div>
  <div class="row border-bottom border-danger ">
    <ul>
      <li> Passive Perception 14</li>
    </ul>
  </div>
  <div class="row">
    <h5>Languages</h5>
  </div>
  <div class="row border-bottom border-danger ">
    <ul>
      <li>None</li>
    </ul>
  </div>
  <div class="row border-bottom border-danger">
    <h5>Challenge Rating: 3</h5>
  </div>
  <div class="row">
    <h5>Abilities</h5>
  </div>
  <div class="row border-bottom border-danger ">
    <ul>
      <li>Keen Hearing and Smell: The wolf Has Advantage on Wisdom(perception) checks that rely on hearing or smell</li>
      <li>Pack Tactics: The wolf has advantage on an attack roll against a Creature if at least one of the wolfs allies is within 5ft of the creature and the ally isnt incapacitated</li>
    </ul>
  </div>
  <div class="row">
    <h5>Actions</h5>
  </div>
  <div class="row border-bottom border-danger ">
    <ul>
      <li>Bite: Melee Weapon attack: +4 to hit reach 5 ft. one target. Hit(2d4+2) piercing damage. If the target is a creature, it must succeed on a dc 11 Strength saving throw or be knocked prone</li>
      <li>Stealth: +4</li>
    </ul>
  </div>
  <div class="row">
    <h5>Description</h5>
  </div>
  <div class="row border-bottom border-danger ">
    <ul>
      <li> A fur covered mammal that walks on all four legs. They hunt in packs, and have sharp fangs. Behavior includes hunting, and Howling at the moon</li>
    </ul>
  </div>

</div>