<div class="container">
  <div class="row">
    <h1 class="mb-4 col-lg-7">Plot Pages for -CampaignTitle-</h1>
  </div>
  <div class="row">
    <div class="col-lg-8">
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Map</th>
                <th scope="col">Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <th scope="row">1</th>
              <td scope="col">Title Example</td>
              <td scope="col"><a href="" class="btn btn-warning">edit</a></td>
              <td scope="col">Link</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td scope="col">Title Example</td>
                <td scope="col"><a href="" class="btn btn-warning">edit</a></td>
                <td scope="col">Link</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td scope="col">Title Example</td>
                <td scope="col"><a href="" class="btn btn-warning">edit</a></td>
                <td scope="col">Link</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td scope="col">Title Example</td>
                <td scope="col"><a href="" class="btn btn-warning">edit</a></td>
                <td scope="col">Link</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td scope="col">Title Example</td>
                <td scope="col"><a href="" class="btn btn-warning">edit</a></td>
                <td scope="col">Link</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td scope="col">Title Example</td>
                <td scope="col"><a href="" class="btn btn-warning">edit</a></td>
                <td scope="col">Link</td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td scope="col">Title Example</td>
                <td scope="col"><a href="" class="btn btn-warning">edit</a></td>
                <td scope="col">Link</td>
              </tr>
            </tbody>
          </table>
    <button class="btn btn-primary">Sort this list</button>
  </div>
    <div class="col-lg-4">
      <h5>Overarching Plot</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ex purus, lobortis eget luctus nec, commodo non neque. Sed vulputate ante at massa feugiat egestas. Proin rutrum, erat eu pretium facilisis, magna risus laoreet elit, ut cursus metus mi at risus. Sed rhoncus, sem at rutrum suscipit, quam erat pellentesque ligula, et laoreet odio diam sit amet nunc. Quisque ac ipsum non nibh varius viverra. Nunc gravida dui non sapien lobortis commodo. Aliquam pellentesque ante non purus condimentum scelerisque. Cras vulputate, lacus eget pellentesque viverra, elit neque sagittis est, scelerisque scelerisque nisi nunc sed justo. Proin neque nunc, pellentesque sed consequat eu, finibus vitae turpis.</p>
    </div>
  </div>
</div>