<div *ngIf="locationObj" class="container">
  <div class="row">
    <h1 class="offset-lg-4">{{locationObj.title}}</h1>
    <p>{{locationObj | json}}</p>
    <button (click)="toggleEdit()" *ngIf="editing" class="offset-lg-10 btn btn-primary">Enable Editing</button>
    <button (click)="toggleEdit()" *ngIf="editing==false" class="offset-lg-10 btn btn-warning">Disable Editing</button>
    
  </div>
  <div  class="row">
    <button *ngIf="editing==false" (click)="mapHideToggle()" class="btn btn-primary">Toggle Map</button>
    <div *ngIf="locationObj.mapHide=='true'">
    <img class="offset-lg-3" src={{locationObj.map}}>
    <button *ngIf="editing==false" (click)="mapEditToggle()" class="btn btn-warning">Edit</button>
    </div>
  </div>
  <div *ngIf="mapEdit" class="row">
    <p>imgur.com/</p>
    <input type="text" [(ngModel)]="mapEditString">
    <p>.jpg</p>
    <button class="btn btn-primary">Submit</button>
  </div>
  <div class="row">
    <h3>Location Info Box</h3>
    <button (click)="toggleInfoBoxEdit()" *ngIf="editing==false" class="btn btn-warning offset-lg-8">Edit</button>
  </div>
  <div class="container">
    <p *ngIf="infoBoxToggle==false">{{locationObj.content}}</p>
    <div class="row">
    <textarea [(ngModel)]="locationObj.content" rows="20" cols="140" *ngIf="infoBoxToggle"></textarea>
    <button (click)="infoBoxUpdate()" *ngIf="infoBoxToggle" class="btn btn-primary">submit</button>
    </div>
  </div>
  
  <div class="row">
    <h3> Points Of Interest</h3>
    <button *ngIf="editing==false" (click)="toggleAddPOI()" class="btn btn-success offset-lg-8">Add</button>
  </div>
  <table class="table table-dark mt-3">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Points of Interest</th>
        <th scope="col">Description</th>
        <th scope="col">Link Number</th>
        <th *ngIf="editing==false" scope="col">Admin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of locationObj.POIarr">
        <td scope="col">{{x.Sort+1}}</td>
        <td scope="col">{{x.PoiTitle}}</td>
        <td scope="col">{{x.PoiDesc}}</td>
        <td scope="col">{{x.PoiLink}}</td>
        <td *ngIf="editing==false" scope="col"><button class="btn btn-warning">Edit</button><button (click)="poiDelete(x.Sort)" class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <h3>{{addPOIobj | json}}</h3>
  <div class="container" *ngIf="addPOI==false">
    
    <div class="form-group row">
    </div>
    <div class="form-group row">
      <label for="PoiTitle" class="col-sm-2 col-form-label">Title</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="PoiTitle" name="addPOIobj.PoiTitle" [(ngModel)]="addPOIobj.PoiTitle" />
      </div>
    </div>
    <div class="form-group row">
      <label for="PoiDesc" class="col-sm-2 col-form-label">Description</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="PoiDesc" name="addPOIobj.PoiDesc" [(ngModel)]="addPOIobj.PoiDesc" />
      </div>
    </div>
    <div class="form-group row">
      <label for="PoiLink" class="col-sm-2 col-form-label">Link Number</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="PoiLink" name="addPOIobj.PoiLink" [(ngModel)]="addPOIobj.PoiLink" />
      </div>
    </div>
    <div class="form-group col-sm-4">
      <button  (click)="addPoiFunction()" class="form-control btn btn-primary">Add This POI</button>
    </div>
  </div>
    <div class="row">
      <h3>This Page Links To</h3>
      <button *ngIf="editing==false" (click)="pageLinkAddToggle()" class="btn btn-success offset-lg-8">Add</button>
    </div>
      <table class="table table-dark mt-3">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">Link</th>
              <th *ngIf="editing==false" scope="col">Admin</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let y of locationObj.links">
              <td scope="col">{{y.Sort + 1}}</td>
              <td scope="col">{{y.title}}</td>
              <td scope="col">{{y.description}}</td>
              <td scope="col"><a href="{{y.link}}" class="btn btn-primary">{{y.type}}</a></td>
              <td *ngIf="editing==false" scope="col"><button (click)="linkDelete(y.Sort)" class="btn btn-danger">Delete</button></td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="pageLinkAdd">
          <h1>Hello</h1>
          {{linkSelect}}
          {{pageSelect | json}}
          <label for="linkSelect1">Select Page Type to Link To</label>
          <select name="linkSelect1" id="linkSelect1" [(ngModel)]="linkSelect1">
            <option value="plot">Plot</option>
            <option value="character">Character</option>
            <option value="location">Location</option>
            <option value="beast">Beast</option>
            <option value="item">Item</option>
          </select>
          <button (click)="setLinkType()" class="btn btn-primary">Choose</button>
        </div>
        <div *ngIf="linkPlot">
          <select name="pageSelect" id="pageSelect" [(ngModel)]="pageSelect">
            <option [ngValue]="item" *ngFor="let item of subject.currentCampaign.plots">{{item.title}}</option>
          </select>
        </div>
        <div *ngIf="linkCharacter">
            <select name="pageSelect" id="pageSelect" [(ngModel)]="pageSelect">
                <option [ngValue]="item" *ngFor="let item of subject.currentCampaign.characters">{{item.title}}</option>
              </select>
        </div>
        <div *ngIf="linkLocation">
            <select name="pageSelect" id="pageSelect" [(ngModel)]="pageSelect">
                <option [ngValue]="item" *ngFor="let item of subject.currentCampaign.locations">{{item.title}}</option>
              </select>
        </div>
        <div *ngIf="linkBeast">
            <select name="pageSelect" id="pageSelect" [(ngModel)]="pageSelect">
                <option [ngValue]="item" *ngFor="let item of subject.currentCampaign.beasts">{{item.title}}</option>
              </select>
        </div> 
        <div *ngIf="linkItem">
            <select name="pageSelect" id="pageSelect" [(ngModel)]="pageSelect">
                <option [ngValue]="item" *ngFor="let item of subject.currentCampaign.items">{{item.title}}</option>
              </select>
        </div>
        
        <input *ngIf="linkDescHide" id="linkDescription" [(ngModel)]="linkDescription">
        <button (click)="submitLink()" class="btn btn-success">Add Link</button>
  

</div>